#!/bin/sh

alias ls='ls --color=auto'
alias diff='diff --color=auto'
alias grep='grep --color=auto'

if [ -x "$(command -v xclip)" ]; then
    alias pbcopy='xclip -i -sel clipboard'
    alias pbpaste='xclip -o -sel clipboard'
fi

export LESS=-R
